.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .dropdown-header {
        margin-bottom: 6px;
        padding: 2px 4px;
        border: 2px solid;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 200ms ease;

        &:hover {
            background-color: #585858;
        }
    }
    
    .dropdown-content {
        background-color: #383838;
        position: absolute;
        display: none;
        top: 31px;
        border: 2px solid;
        border-radius: 6px;

        .dropdown-content-entry {
            margin: 2px;
            padding: 1px 2px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 200ms ease;

            &:hover {
                background-color: #585858;
            }
        }
    }

    .show {
        display: block;
    }
}
