/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

@font-face {
  font-family: 'Tommy';
  src: url('./font/tommy.otf');
}

@font-face {
  font-family: 'TommyBold';
  src: url('./font/tommybold.otf');
}

/*******************************************************************************
 *                                                                             *
 * Element Styles                                                              *
 *                                                                             *
 ******************************************************************************/

:root {
  background-image: url(./background.jpg);
  background-size: cover;
}

label, button, p, div, input {
  font-family: Tommy;
  color: white;
}

input {
  background-color:#585858;
  border-color: transparent;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &::placeholder {
      color: rgb(177, 177, 177);
  }
}