.sidebar {
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4px;
    left: 0;
    height: 558px;
    background-color: #383838;
    border-radius: 0px 6px 0px 0px;
    width: 50px;
    transition: width 200ms ease;

    .sidebar-button {
        display: flex;
        font-size: x-large;
        border-radius: 4px;
        align-items: center;
        cursor: pointer;
        margin: 6px 8px;
        padding: 2px 6px;
        transition: background-color 200ms ease;

        &:hover {
            background-color: #585858;
        }

        .icon-wrapper {
            .icon {
                width: 22px;
                height: 22px;
            }
        }

        .button {
            display: none;
            margin-left: 8px;
        }

        .show {
            display: block;
        }
    }

    .wrapper1 {
        display: none;
        margin-left: 46px;
        font-size: large;

        .shape {
            margin-right: 4px;
            width: 4px;
            background-color: white;
            border-radius: 2px;
        }

        .wrapper2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .sub-button {
                cursor: pointer;
                padding-left: 3px;
                padding-right: 3px;
                padding-bottom: 2px;
                border-radius: 4px;
                transition: background-color 200ms ease;
    
                &:hover {
                    background-color: #585858;
                }
            }
        }
    }

    .show {
        display: flex;
    }
}

.expand {
    width: 191px;
}