.range {

    .range-header {
        margin: 5px 10px;
        font-size: xx-large;

        .range-header-name {

        }
    }

    .range-content {

        .range-content-dropdown {
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}