.splitter {

    .splitter-header {
        margin: 5px 10px;
        font-size: xx-large;
    }
}

.splitter-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 508px;
    margin-inline: 20px;

    .splitter-content-top {
        display: flex;
        gap: 40px;
        justify-content: flex-start;

        .splitter-content-calculator {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            .splitter-content-calculator-input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                input {
                    margin-bottom: 6px;
                    width: 200px;

                    &:disabled {
                        background-color: #424242;
                    }
    
                    &::placeholder {
                        font-size: 14px;
                    }
                }
            }

            .splitter-content-calculator-button-wrapper {
                display: flex;
                flex-direction: row;
                gap: 6px;

                .splitter-content-calculator-calculate, .splitter-content-calculator-clear {
                    cursor: pointer;
                    padding: 2px 4px;
                    border-radius: 4px;
                    font-size: 14px;
                    transition: background-color 200ms ease;
        
                    &:hover {
                        background-color: #585858;
                    }
                }
            }
        }

        .splitter-content-display-wrapper {
            position: absolute;
            left: 260px;
            right: 20px;
            top: 54px;
            bottom: 190px;
            background-color: #585858;
            border-radius: 6px;

            .splitter-content-display {
                height: 306px;
                margin: 4px;
                overflow-y: auto;
                white-space: pre-wrap;
                user-select: text;
    
                &::-webkit-scrollbar {
                    width: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                  background: #383838;
                  border-radius: 5px;
                }
                
                &::-webkit-scrollbar-track {
                  background: transparent;
                }
            }
        }
    }

    .splitter-content-history {
        background-color: #585858;
        border-radius: 6px;
        margin-bottom: 10px;

        .splitter-content-history-wrapper {
            display: flex;
            margin: 4px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                height: 10px;
            }
            
            &::-webkit-scrollbar-thumb {
              background: #383838;
              border-radius: 5px;
            }
            
            &::-webkit-scrollbar-track {
              margin-inline: 4px;
              background: transparent;
            }

            .splitter-content-history-entry {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                user-select: text;
                white-space: nowrap;
                padding: 2px 4px;
                margin: 4px;
                border-radius: 4px;
                background-color: #383838;
                font-size: 14px;

                .splitter-content-history-entry-name {
                    cursor: pointer;
                    padding-inline: 2px;
                    font-size: 16px;
                    border-radius: 4px;

                    &:hover {
                        background-color: #585858;
                    }
                }
            }
        }
    }
}